.commit-option{
    display: table;
    background-color: rgba(255, 206, 206, 0.46);
}

.commit-option > span{
    display: table-cell;
    vertical-align:middle;
}

.tag{
    background-color: white;
}
